<p><%= link_to 'New Tweet', new_tweet_path %></p>

<% @tweets.each do |tweet| %>
  <fieldset id="" class="">
    <p>
      <%= tweet.body %>
    </p>                                                                                           
    <ul>
      <li><%= link_to 'Show', tweet %></li>
      <li><%= link_to 'Edit', edit_tweet_path(tweet) %></li>
      <li><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></li>      
    </ul>
  </fieldset>
  <br/>
<% end %>
